Repository kubernetes-csi/csi-proxy, pull requests merged in 2020-02, with the labels that each got.

#20 Fix the source path in the protocol generated files
  Makefile
  client/api/errors.pb.go
  client/api/filesystem/v1alpha1/api.pb.go
  integrationtests/apigroups/api/dummy/v1/api.pb.go
  integrationtests/apigroups/api/dummy/v1alpha1/api.pb.go
  integrationtests/apigroups/api/dummy/v1alpha2/api.pb.go
  integrationtests/csiapigen/new_group/api/v1alpha1/api.pb.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#24 Fix volume pb generated file header
  client/api/volume/v1alpha1/api.pb.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/M

#15 Disk APIs
  client/api/disk/v1alpha1/api.pb.go
  client/api/disk/v1alpha1/api.proto
  client/groups/disk/v1alpha1/client_generated.go
  cmd/server/main.go
  go.mod
  go.sum
  internal/os/disk/api.go
  internal/server/disk/api_group_generated.go
  internal/server/disk/internal/types.go
  internal/server/disk/internal/types_generated.go
  internal/server/disk/internal/v1alpha1/conversion.go
  internal/server/disk/internal/v1alpha1/conversion_generated.go
  internal/server/disk/internal/v1alpha1/server_generated.go
  internal/server/disk/server.go
  internal/shared/disk/types.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note-none, size/XXL

#26 Compile fix for protoc gen upgrade
  client/api/filesystem/v1alpha1/api.pb.go
  client/api/volume/v1alpha1/api.pb.go
  client/go.mod
  client/go.sum
  go.sum
  integrationtests/apigroups/api/dummy/v1/api.pb.go
  integrationtests/apigroups/api/dummy/v1alpha1/api.pb.go
  integrationtests/apigroups/api/dummy/v1alpha2/api.pb.go
  integrationtests/csiapigen/new_group/api/v1alpha1/api.pb.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/M

#21 IsMountPoint implementation
  client/api/filesystem/v1alpha1/api.pb.go
  client/api/filesystem/v1alpha1/api.proto
  client/groups/filesystem/v1alpha1/client_generated.go
  integrationtests/filesystem_test.go
  internal/os/filesystem/api.go
  internal/server/filesystem/internal/types.go
  internal/server/filesystem/internal/types_generated.go
  internal/server/filesystem/internal/v1alpha1/conversion_generated.go
  internal/server/filesystem/internal/v1alpha1/server_generated.go
  internal/server/filesystem/server.go
  internal/server/filesystem/server_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/L

#27 Filesystem test code - lint fix
  integrationtests/filesystem_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#28 Misc fixes
  cmd/server/main.go
  internal/os/filesystem/api.go
  internal/server/filesystem/server.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/M
