Repository kubernetes-csi/csi-proxy, pull requests merged in 2021-03, with the labels that each got.

#117 fix smb mount PermissionDenied issue on Windows
  internal/os/smb/api.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/XS

#116 Return serial number in ListDiskIDs
  internal/os/disk/api.go
  internal/os/disk/types.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/S

#119 master: update release-tools + dependencies
  go.mod
  go.sum
  release-tools/README.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
  release-tools/travis.yml
  release-tools/verify-go-version.sh
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, release-note, size/M

#122 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M
