Repository kubernetes-csi/csi-proxy, pull requests merged in 2022-02, with the labels that each got.

#189 Add GetClosestVolumeIDFromTargetPath API to the Volume API Group
  client/api/volume/v2alpha1/api.pb.go
  client/api/volume/v2alpha1/api.proto
  client/groups/disk/v1/client_generated.go
  client/groups/filesystem/v1/client_generated.go
  client/groups/smb/v1/client_generated.go
  client/groups/volume/v1/client_generated.go
  client/groups/volume/v2alpha1/client_generated.go
  integrationtests/apigroups/client/dummy/v1/client_generated.go
  integrationtests/apigroups/server/dummy/api_group_generated.go
  integrationtests/apigroups/server/dummy/impl/v1/server_generated.go
  integrationtests/utils.go
  integrationtests/volume_v2alpha1_test.go
  pkg/os/volume/api.go
  pkg/server/disk/api_group_generated.go
  pkg/server/disk/impl/v1/server_generated.go
  pkg/server/filesystem/api_group_generated.go
  pkg/server/filesystem/impl/v1/server_generated.go
  pkg/server/smb/api_group_generated.go
  pkg/server/smb/impl/v1/server_generated.go
  pkg/server/volume/api_group_generated.go
  pkg/server/volume/impl/types.go
  pkg/server/volume/impl/types_generated.go
  pkg/server/volume/impl/v1/server_generated.go
  pkg/server/volume/impl/v2alpha1/conversion_generated.go
  pkg/server/volume/impl/v2alpha1/server_generated.go
  pkg/server/volume/server.go
  pkg/server/volume/server_test.go
  vendor/github.com/kubernetes-csi/csi-proxy/client/api/volume/v2alpha1/api.pb.go
  vendor/github.com/kubernetes-csi/csi-proxy/client/api/volume/v2alpha1/api.proto
  vendor/github.com/kubernetes-csi/csi-proxy/client/groups/disk/v1/client_generated.go
  vendor/github.com/kubernetes-csi/csi-proxy/client/groups/filesystem/v1/client_generated.go
  vendor/github.com/kubernetes-csi/csi-proxy/client/groups/smb/v1/client_generated.go
  vendor/github.com/kubernetes-csi/csi-proxy/client/groups/volume/v1/client_generated.go
  vendor/github.com/kubernetes-csi/csi-proxy/client/groups/volume/v2alpha1/client_generated.go
Labels: kind/feature, size/XXL, cncf-cla: yes, release-note, lgtm, kind/api-change, approved

#197 Reduce CSI proxy CPU usage
  pkg/os/disk/api.go
  pkg/os/filesystem/api.go
  pkg/os/iscsi/api.go
  pkg/os/smb/api.go
  pkg/os/system/api.go
  pkg/os/volume/api.go
  pkg/utils/utils.go
Labels: kind/bug, cncf-cla: yes, release-note, lgtm, size/L, ok-to-test, approved

#200 master: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
Labels: cncf-cla: yes, release-note-none, lgtm, size/M, approved

#198 add codespell github action
  .github/workflows/codespell.yml
  README.md
  client/api/system/v1alpha1/api.pb.go
  client/api/system/v1alpha1/api.proto
  pkg/os/disk/api.go
  pkg/server/system/impl/types.go
Labels: cncf-cla: yes, kind/documentation, release-note-none, lgtm, size/S, approved
