Repository kubernetes-csi/csi-proxy, pull requests merged in 2022-08, with the labels that each got.

#210 Try to fix issue with 'Multiple connections to a server'
  .gitignore
  pkg/server/smb/server.go
  pkg/server/smb/server_test.go
Labels: kind/bug, cncf-cla: yes, release-note, lgtm, size/L, ok-to-test, approved

#215 master: update release-tools
  client/apiversion/version.go
  pkg/os/filesystem/api.go
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  vendor/github.com/kubernetes-csi/csi-proxy/client/apiversion/version.go
Labels: cncf-cla: yes, release-note-none, lgtm, size/M, approved

#216 Release notes for v1.1.2
  CHANGELOG/CHANGELOG-1.1.2.md
  pkg/server/filesystem/server.go
Labels: cncf-cla: yes, release-note-none, lgtm, size/S, approved
