Repository kubernetes-csi/csi-proxy, pull requests merged in 2023-08, with the labels that each got.

#307 Cherry-pick Ensuring all paths in powershell are passes and env vars on library-development
  .github/workflows/windows.yml
  integrationtests/disk_test.go
  integrationtests/volume_test.go
  pkg/volume/hostapi/hostapi.go
Labels: kind/bug, cncf-cla: yes, release-note, lgtm, size/M, ok-to-test, approved, triage/accepted

#306 Ensuring all paths in powershell are passes and env vars
  .github/workflows/windows.yml
  integrationtests/disk_v1_test.go
  integrationtests/disk_v1alpha1_test.go
  integrationtests/disk_v1beta1_test.go
  integrationtests/disk_v1beta2_test.go
  integrationtests/disk_v1beta3_test.go
  integrationtests/volume_test.go
  pkg/os/volume/api.go
Labels: kind/bug, cncf-cla: yes, release-note, lgtm, size/L, ok-to-test, approved, triage/accepted

#304 Changelog for v1.1.3
  CHANGELOG/CHANGELOG-1.1.3.md
Labels: cncf-cla: yes, kind/documentation, release-note-none, lgtm, size/M, approved
